Repository Unreliable-Cloud/keda, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, fleet, helm

trivial
  helm/templates/datadog-keda-secret.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
  helm/templates/datadog-keda-secret.yaml
Labels: helm

enable cta
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/Chart.lock
Labels: helm

trivial
  helm/Chart.lock
  helm/Chart.yaml
Labels: helm

remove chart dep
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/keda-2.7.2.tgz
  helm/templates/01-serviceaccount.yaml
  helm/templates/02-crd-clustertriggerauthentications.yaml
  helm/templates/03-crd-scaledjobs.keda.sh.yaml
  helm/templates/04-crd-scaledobjects.keda.sh.yaml
  helm/templates/05-crd-triggerauthentications.keda.sh.yaml
  helm/templates/10-keda-clusterrole.yaml
  helm/templates/11-keda-clusterrolebinding.yaml
  helm/templates/12-keda-deployment.yaml
  helm/templates/13-keda-poddisruptionbudget.yaml
  helm/templates/14-keda-podmonitor.yaml
  helm/templates/15-keda-prometheusrules.yaml
  helm/templates/20-metrics-clusterrole.yaml
  helm/templates/21-metrics-clusterrolebinding.yaml
  helm/templates/22-metrics-deployment.yaml
  helm/templates/23-metrics-service.yaml
  helm/templates/24-metrics-apiservice.yaml
  helm/templates/25-metrics-poddisruptionbudget.yaml
  helm/templates/26-metrics-podmonitor.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/datadog-keda-secret.yaml
  helm/values/k8s-us-east-values.yaml
  helm/values/keda-values.yaml
Labels: helm

add default values
  helm/values.yaml
Labels: helm

add dummy dd values
  helm/values.yaml
Labels: helm

use chart dependency instead of forked chart
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/keda-2.7.2.tgz
  helm/templates/01-serviceaccount.yaml
  helm/templates/02-crd-clustertriggerauthentications.yaml
  helm/templates/03-crd-scaledjobs.keda.sh.yaml
  helm/templates/04-crd-scaledobjects.keda.sh.yaml
  helm/templates/05-crd-triggerauthentications.keda.sh.yaml
  helm/templates/10-keda-clusterrole.yaml
  helm/templates/11-keda-clusterrolebinding.yaml
  helm/templates/12-keda-deployment.yaml
  helm/templates/13-keda-poddisruptionbudget.yaml
  helm/templates/14-keda-podmonitor.yaml
  helm/templates/15-keda-prometheusrules.yaml
  helm/templates/20-metrics-clusterrole.yaml
  helm/templates/21-metrics-clusterrolebinding.yaml
  helm/templates/22-metrics-deployment.yaml
  helm/templates/23-metrics-service.yaml
  helm/templates/24-metrics-apiservice.yaml
  helm/templates/25-metrics-poddisruptionbudget.yaml
  helm/templates/26-metrics-podmonitor.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/values/k8s-us-east-values.yaml
  helm/values/keda-values.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

use secret instead of vault
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

add dd log collection
  helm/values/keda-values.yaml
Labels: helm

trivial
  helm/templates/datadog-keda-secret.yaml
Labels: helm

update to latest
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/keda-2.7.2.tgz
  helm/charts/keda-2.8.2.tgz
Labels: helm

fix double linter run
  .github/workflows/super-linter.yaml
Labels: none

trivial
  helm/values.yaml
  helm/values/k8s-us-east-values.yaml
  helm/values/keda-values.yaml
Labels: helm

trivial
  helm/values/keda-values.yaml
Labels: helm

trivial
  helm/values/k8s-us-east-values.yaml
Labels: helm

trivial
  helm/_vaules.yaml
Labels: helm

add podmonitors
  helm/values/k8s-us-east-values.yaml
  helm/vaules.yaml
Labels: helm

set namespace
  helm/values/k8s-us-east-values.yaml
Labels: helm

trivial
  helm/fleet.yaml
  helm/values/k8s-us-east-values.yaml
Labels: fleet, helm

trivial
  helm/vaules.yaml
Labels: helm

trivial
  helm/Chart.lock
Labels: helm

trivial
  helm/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/Chart.lock
  helm/fleet.yaml
  helm/values/k8s-us-east-values.yaml
  helm/values/keda-values.yaml
Labels: fleet, helm

trivial
  helm/datadog-keda-secret.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
  helm/templates/datadog-keda-secret.yaml
  helm/values.yaml
Labels: helm

disable hook
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/values/k8s-us-east-values.yaml
Labels: helm

try ignoring mutated secret
  helm/templates/datadog-keda-secret.yaml
Labels: helm

add new cluster values
  helm/values/k8s-us-east-1-values.yaml
Labels: helm

temp disable clustertriggerauth
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

reenable cta
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

bump chart version
  helm/Chart.yaml
Labels: helm

trivial
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

trivial
  helm/Chart.yaml
  helm/templates/datadog-clustertriggerauthentication.yaml
Labels: helm

Remove Fleet YAML files
  helm/fleet.yaml
Labels: fleet, helm

.github/labeler.yml:

repo:
- '*'
fleet:
- 'helm/fleet.yaml'
helm:
- 'helm/**/*'
